{% extends 'Witebord/base.html' %}
{% comment %}
    {% load thumbnail %}
{% endcomment %}

{% block content %}
  <div class="row mt-4">
    <div class="card mb-3 mt-10" style="width: 80rem;">
    {% for ad in ads_list %}
      <div class="card header mt-2" style="background-color: #a6cde9;">
        <h3>{{ ad.title  }}:</h3>
      </div>
      <div class="card-body">
        {% if ad.media_content %}
            <img height='100 width='auto' 
            src="{{ ad.media_content.url }}" alt="Какая-то картинка" class="float-left">
        {% else %}
            <img height='100 width='auto' 
            src="https://randompicturegenerator.com/img/national-park-generator/g51b6ed108bf0bcfbce1555d91a34261220668f81518f4d2aad7e4626ac37926cf0462b3528692ef5e1b04243b6e7b5fe_640.jpg" alt="Какая-то картинка">
        {% endif %}
            {{ ad.content }}</p>    
      </div>
      <div class="card-footer">
          Автор: {{ ad.author }}
          {{ ad.created_at|date:'d.m.Y' }}: С момента опубликования прошло {{ ad.created_at|timesince }}
          <a href="{{ ad.get_absolute_url }}" class="btn btn-primary">Подробности...</a>
      </div>
    {% endfor %}           
    </div>
  </div>

{% endblock content %}