{% extends 'Witebord/base.html' %}
{% block content %}
<div class="container mt-10">
    <div class="row mt-4">
        <div class="card mb-3" style="width: 80rem;">
            {% for ad in ads_list %}
                <div class="card header mt-2">
                    <h3>{{ ad.title  }}:</h3>
                </div>
                <div class="card-body">                    
                    <div class="media">
                        {% if ad.media_content %}
                            <img src="{{ ad.media_content.url }}" alt="Какая-то картинка">
                        {% else %}
                            <img src="https://randompicturegenerator.com/img/national-park-generator/g51b6ed108bf0bcfbce1555d91a34261220668f81518f4d2aad7e4626ac37926cf0462b3528692ef5e1b04243b6e7b5fe_640.jpg" alt="Какая-то картинка">
                        {% endif %}
                        <div class="media-body">
                            {{ ad.content }}</p>
                        </div>                        
                    </div>
                    
                </div>
                <div class="card-footer">
                    {{ ad.created_at|date:'d.m.Y' }}: С момента опубликования прошло {{ ad.created_at|timesince }}
                </div>
            {% endfor %}           
        </div>
    </div>
</div>

{% endblock content %}