{% load static %}
<!-- navbar navbar-dark bg-dark -->
<nav class="navbar navbar-expand-lg navbar-light sticky-lg-top" style="background-color: #a6cde9;">
<!--<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #a6cde9;">-->
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Логотип?</a> -->
      <!-- <img src="static/images/logo.png" height="50" alt="the logo"> -->
      <img src="{% static 'images/logo.png'%}" height="50" alt="the logo">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'ads:home' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'ads:guilds_list' %}">Гильдии</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'ads:rules' %}">Правила форума</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'ads:search' %}">Search</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'ads:create_ad' %}">Дать объявление</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Войдите, чтобы дать объявление</a>
            </li>
          {% endif %}
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/">Панель администратора</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Личный кабинет
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'ads:my_ads' %}">Мои объявления</a></li>
              <li><a class="dropdown-item" href="{% url 'ads:ads_replies_list_view' %}">Неотвеченные и принятые отклики</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" action="{% url 'ads:home' %}">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          {% if search_form %}
            {{ search_form.as_p }}
          {% else %}
            <p>!!No form!!</p>
          {% endif %}
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% if not user.is_authenticated %}
          <a class="nav-link active" href="{% url 'login' %}">Вход</a>
          <a class="nav-link active" href="{% url 'signup' %}">Регистрация</a>
        {% else %}
          Вы вошли на сайт как <a class="nav-link active" href="{{ request.user.get_absolute_url }}">{{ request.user }}</a>
          <a class="nav-link active" href="{% url 'logout' %}">Выход</a>
        {% endif %}
      </div>
    </div>
  </nav>
